@import "../../../../styles/variables.scss";



.container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  button {
  display: flex;
  align-self: self-end;
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
  margin-left: 5px;
  margin-bottom: 10px;
}
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
