@import"../../../../../styles/variables.scss";

body{
  max-width: -1em;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  
  padding: 20px;

  button {
  display: flex;
  align-self: self-end;
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
  margin-left: 5px;
  margin-bottom: 10px;
}
}
