<app-default-login
title="ing n and star today!"
primaryButtonText="Enviar"
secondaryButtonText="Entrar"
(submit)="enviar()"
(navegate)="navegate()"
>



  <form [formGroup]="sinupForm">

    <app-primary-input
    formControlName="name"
    inputName="name"
    type="text"
    label="Name"
    placeholder="Digite seu nome">
    </app-primary-input>

    <app-primary-input
    formControlName="email"
    inputName="email"
    type="email"
    label="Email"
    placeholder="Digiete seu email">
    </app-primary-input>

    <app-primary-input
    formControlName="password"
    inputName="password"
    type="password"
    label="Password"
    placeholder="Digite sua senha"
    >
    </app-primary-input>

    <app-primary-input
    formControlName="confimPassword"
    inputName="confimPassword"
    type="password"
    label="confime Your Password"
    placeholder="confimar senha">
    </app-primary-input>


    </form>

</app-default-login>
