<div><h2>Lista de Vendas</h2></div>

<p-table [value]="vendas" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5,10]">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:20%">Cliente</th>
            <th style="width:20%">Valor total da Venda</th>
            <th style="width:20%">ações</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vendas>
        <tr>

            <td>{{vendas.cliente}}</td>
            <td>R$ {{vendas.valorTotalDaVenda }}</td>
            <td>
                <button mat-icon-button style="color: #7001FD"
                    (click)="excluir(vendas.id); $event.stopPropagation()">
                    <i class="material-icons " style="color: red;">delete</i>
                </button>

                <button mat-icon-button style="color: #7001FD"
                    (click)="gerarPdf(); $event.stopPropagation()">
                    <i class="material-icons " style="color: green;">picture_as_pdf</i>
                 </button>

    
            </td>
        </tr>


    </ng-template>
</p-table>